
html, body {
    height: 100%;
    width: 100%;
}
body {
    color: #4C7689;
    font-family: Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0 0 10px;
    background-color: #ffffff;
}
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    padding: 0;
}
select, input, textarea {
    color: #4C7689;
    font-size: 15px;
    vertical-align: middle;
}
textarea {
    vertical-align: top;
}
:focus {
    outline: medium none;
}
input[type="submit"] {
    cursor: pointer;
}
img, fieldset {
    border: 0 none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a:link, a:visited {
    color: #E11D5D;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.float-r {
    float: right !important;
}
.float-l {
    float: left !important;
}
.no-float {
    float: none !important;
}
.no-border {
    border: 0 none !important;
}
.no-bg {
    background: none repeat scroll 0 0 transparent !important;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-display {
    display: none !important;
}
.display {
    display: block !important;
}
.inline {
    display: inline !important;
}
.overflow {
    overflow: hidden !important;
}
.align-r {
    text-align: right !important;
}
.align-l {
    text-align: left !important;
}
.align-c {
    text-align: center !important;
}
.clear {
    clear: both;
}
/*---------------------------------------------------*/
/*---------------------wrapper-----------------------*/
/*---------------------------------------------------*/
#main-wrapper {
    overflow: visible;
    width: 901px;
    margin: 0 auto;
    padding: 0 0 80px;
}
/*---------------------------------------------------*/
/*---------------------header------------------------*/
/*---------------------------------------------------*/
#header {
    overflow: hidden;
    background: url("../images/header_bg.png") repeat-x scroll center top;
}
#header .section  {
    overflow: visible;
    position: relative;
    width: 901px;
    margin: 0 auto;
}
#site-name {
    overflow: hidden;
}
#site-name strong {
   overflow: hidden;
}
#site-name strong a {
   display: block;
   background: url("../images/geekhub_logo.png") no-repeat scroll 0 0 transparent;
   height: 71px;
   left: 0;
   position: absolute;
   top: 19px;
   width: 167px;

}
#site-name strong a span {
    display: block;
    height: 71px;
    text-indent: -2000px;
    width: 167px;
}
/*---------------------social media---------------------*/
.soc-media-links {
    overflow: hidden;
    float: right;
    height: 42px;
    margin: 35px 76px 0 0;
}
.soc-media-links li {
    float: left;
    height: 42px;
    padding: 0 4px;
    /*width: 24px;*/
}
.soc-media-links li a {
    background: url("../images/icons_social.png") no-repeat scroll 0 0 transparent;
    color: #396375;
    display: block;
    height: 42px;
    text-indent: -400px;
    width: 24px;
}
.soc-media-links li.fb a {
    background-position: 0 10px;
}
.soc-media-links li.vk a {
    background-position: -32px 10px;
}
.soc-media-links li.tw a {
    background-position: -64px 10px;
}
.soc-media-links li.yb a {
    background-position: -96px 10px;
}
.soc-media-links li.v a {
    background-position: -128px 10px;
}
.soc-media-links li a.active, .soc-media-links li.active a, .soc-media-links li a:hover {
    background-image: url("../images/icons_social_hover.png");
}
/*---------------------main menu---------------------*/
#header #block-menu-menu-site-navigation  {
    overflow: hidden;
    float: right;
    width: 388px;

    /*margin: 34px 0 31px;*/
}
#header #block-menu-menu-site-navigation .content {
    overflow: hidden;
}
#header .menu {
    overflow: hidden;
    height: 108px;
}
#header .menu li.leaf {
    float: left;
    padding: 0 0 0 26px;
    margin: 0;
    list-style: none;
}
#header .menu li a {
    color: #396375;
    display: block;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bold;
    /*height: 16px;*/
    padding: 48px 0 44px 0;
    text-transform: uppercase;
}
#header .menu li a.active, #header .menu li.active a, #header .menu li a:hover {
    color: #E21D5D;

}
#header .menu li.active-trail a {
    background: url("../images/inner_active.png") no-repeat center bottom;
}

#block-block-1 {
    overflow: hidden;
}
#block-views-splash-block {
    overflow: hidden;
    width: 100%;

    border-top: 1px solid #8EA8B3;
}
.splash {
    overflow: hidden;

}
.splash h2 {
    display: none;
}
.splash h4 {
    color: #246987;
    font-family: "Trebuchet MS";
    font-size: 52px;
    font-weight: normal;
    padding: 70px 0 85px;
    position: relative;
    text-align: center;
    z-index: 2;
}
.splash img {
    display: block;
    left: 225px;
    position: absolute;
    top: 165px;
    z-index: 1;
}
/*---------------------------------------------------*/
/*---------------------CONTAINER---------------------*/
/*---------------------------------------------------*/
#main-wrapper {
    overflow: hidden;
    padding: 28px 0 40px;
}
#content {
    overflow: hidden;
}
#content h1 {
    border-bottom: 1px solid #A7C3CF;
    font-family: "Trebuchet MS";
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
    margin: 0 0 27px;
    padding: 0 0 8px;
}